.navbar-horizontal .navbar-brand img {
    height: 60px;
}

.breadcrumb {
    background-color: transparent;
        margin-bottom: 0rem;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding: 0.675rem 1.1rem;
}
.sidenav .navbar-brand, .sidenav .navbar-heading {
    padding: .6rem;
}
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
    max-width: 100%;
    max-height: 60px;
}
.object-tools{
    margin-bottom: 75px;
}
#result_list_wrapper{
    /*padding-left: 30px !important;*/
    /*padding-right: 30px !important;*/
}

.dataTables_filter>label {
    display: inline-flex;
    margin-bottom: 0.5rem;
    align-items: center;
}
.inline-group ul.tools a.add, .inline-group div.add-row a, .inline-group .tabular tr.add-row td a {
    padding-left: 21px;
    font-size: 15px;
}
.add-row-gsn{
    margin-left: 30px;
}
td.delete{
text-align: center;
}
.help{
    margin-left: 0px !important;
    font-size: 11px;
    color: #ff0000;
    padding-left: 10px !important;
}
td>p{
    display:none
}

.form-group {
    margin-bottom: 12px;
}

.column-edit_link, .column-listado_link, .column-pago_link, .field-edit_link, .field-listado_link, .field-pago_link, .column-recibo_link, .field-recibo_link{
        padding-left: 5px !important;
    padding-right: 5px !important;
}
tr th a {
    white-space: normal !important;
}
tr th.field-pago a{
    white-space: inherit !important;
}

#result_list_et tbody tr>td:first-child{
      white-space: normal !important;
}
#result_list_en tbody tr>td:first-child{
      white-space: normal !important;
}

#result_list_rp tbody tr>td:first-child{
      white-space: normal !important;
}

.table-sm th, .table-sm td {
    padding: 0.3rem;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    font-size: 11px !important;
}
/*.datetimeshortcuts{*/
/*        position: absolute;*/
/*    right: 28px;*/
/*    top: 40px;*/
/*}*/
/*.inline-group .tabular tr.has_original td {*/
/*    position: relative;*/
/*}*/
/*.inline-group .tabular tr td {*/
/*    position: relative;*/
/*}*/
