.navbar-horizontal .navbar-brand img {
    height: 60px;
}

.breadcrumb {
    background-color: transparent;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding: 0.675rem 1.1rem;
}
.sidenav .navbar-brand, .sidenav .navbar-heading {
    padding: .6rem;
}
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
    max-width: 100%;
    max-height: 60px;
}
.object-tools{
    margin-bottom: 75px;
}
#result_list_wrapper{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.dataTables_filter>label {
    display: inline-flex;
    margin-bottom: 0.5rem;
    align-items: center;
}
.inline-group ul.tools a.add, .inline-group div.add-row a, .inline-group .tabular tr.add-row td a {
    padding-left: 21px;
    font-size: 15px;
}
.add-row-gsn{
    margin-left: 30px;
}
td.delete{
text-align: center;
}
.help{
    margin-left: 0px !important;
    font-size: 11px;
    color: #ff0000;
    padding-left: 10px !important;
}
