<!DOCTYPE html>
<html lang="es">
<head>
    <title>
        AMCM - {% block title %}  {% endblock %}
    </title>
</head>

<body class="" style="background-image: url('/static/admin/img/recibohippodromo.jpg');">

{% block content %}
    <div style="text-align: right;width: 580px; height: 792px; position: relative">
        <div>
            <p style=" margin-top: 60px;margin-right: 38px;">53811</p>
            <p style="padding-top: 10px;margin-bottom: 11px;"><span>10</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>10</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>2021</span>
            </p>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
            <br>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
            <br>
            <br>
            <br>
            <p style="margin-top: 8px; margin-bottom:0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato
                dato</p>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>

            <p style="text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
        </div>
        <div><p style="margin: 0;text-align: left;position: absolute;right: 53px;margin-top: -32px;font-size: 20px;">
            00</p></div>
{##}
{#----------- otro bloque de recibo ------------#}

    <div style="padding-top: 45px;">
            <p style=" margin-top: 60px;margin-right: 38px;">53811</p>
            <p style="padding-top: 10px;margin-bottom: 11px;"><span>10</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>10</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>2021</span>
            </p>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
            <br>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
            <br>
            <br>
            <br>
            <p style="margin-top: 8px; margin-bottom:0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato
                dato</p>
            <p style="margin: 0;text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>

            <p style="text-align: left;font-size: 14px;margin-left: 118px;">dato dato dato</p>
        </div>
        <div>
            <p style="margin: 0;text-align: left;position: absolute;right: 0px;margin-top: -32px;font-size: 20px;">
            00 <span style="font-size: 12px">&nbsp; $12,123</span></p>
            <p style="margin: 0;text-align: left;position: absolute;right: 0px;margin-top: -3px;font-size: 20px;">
            00 <span style="font-size: 12px">&nbsp; $13,123</span></p>
        </div>
    </div>
     <div style="position: absolute;top: 0;z-index: -1;">
                    <img src="/admin/img/recibohippodromo.jpg" class="img-fluid"
                         style="width: 612px;height: 792px;opacity: 1;">
                </div>
{% endblock content %}

</body>

</html>
