{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-7 col-9">
            <h6 class="h2 d-inline-block mb-0">Reporte por Cuotas Acumulado</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/amcm/get_reporte">Reportes por Eventos</a></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-5 col-5 text-right">
            <a href="/amcm/get_reporte_cuota_pdf/?id={{ evento.id }}" class="btn btn-sm btn-neutral"><i class="far fa-file-alt"></i> Descargar</a>
{#            <a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0"></h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table   class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr align="center">
                  <th scope="col" class="sort" data-sort="name" colspan="3"><h3>{{ evento.nombre }}</h3></th>

                </tr>
                <tr align="center">
                  <th scope="col" class="sort" data-sort="name" colspan="3">{{ evento.descripcion }}</th>

                </tr>
                <tr align="right">
                  <th scope="col" class="sort" data-sort="name" colspan="3"><h4>DISTANCIA: {{ evento.yardas }} YARDAS</h4></th>

                </tr>


                {% for cuota in evento.cuotas_evento %}
              <tr>
                  <th scope="col" class="sort" data-sort="name" width="20%">&nbsp;</th>
                  <th scope="col" class="sort" data-sort="name" width="40%">{{ cuota.tipoCuota }} : {{ cuota.fechaVencimiento|date:"l, d F Y"}}</th>
                  <th scope="col" class="sort" data-sort="name" width="40%"> ${{ cuota.monto }}</th>
                </tr>
                {% endfor %}
                <tr align="right">
                  <th scope="col" class="sort" data-sort="name" colspan="3">&nbsp;</th>

                </tr>
                {% for fecha in evento.fechas_evento %}
                <tr>
                  <th scope="col" class="sort" data-sort="name" width="20%">&nbsp;</th>
                  <th scope="col" class="sort" data-sort="name" width="40%">{{ fecha.tipoFecha }}</th>
                  <th scope="col" class="sort" data-sort="name" width="40%">{{ fecha.fecha|date:"l, d  F  Y" }}</th>
                </tr>
              {% endfor %}

              </thead>
              <tbody class="list">

                <tr>
                    <td class="budget">
                  </td>
                  <td class="budget">
                  </td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
    <!-- Recibos por Cuadras -->
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="mb-0"></h3>
          </div>
          <div class="table-responsive">

{#              <table class="table align-items-center table-flush">#}
{#              <thead class="thead-light">#}
{#                <tr align="center" >#}
{#                    <th scope="col" class="sort" data-sort="name" width="30%">&nbsp;</th>#}
{#                    {% for cuota in cuotas %}#}
{#                    <th scope="col" class="sort" data-sort="name" style="border-style: solid;border-width: 1px; border-color: grey;">#}
{#                        {{ cuota.tipoCuota }} <br/>#}
{#                        {{ cuota.fechaVencimiento|date:"d-m-Y" }} <br/>#}
{#                       $ {{ cuota.monto }} <br/>#}
{#                    </th>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#              </thead>#}
{#              </table>#}



              <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                    <tr>
                         <th scope="col">
                         &nbsp;
                          </th>
                          <th scope="col">
                            CUOTA
                          </th>
                          <th scope="col">
                            NUMERO DE EJEMPLARES
                          </th>
                          <th scope="col">
                              MONTO ACUMULADO
                          </th>
                         <th scope="col">
                         &nbsp;
                          </th>
                 </tr>
                </thead>
                 <tbody class="list">
{#                {{ obj.ejemplares }}#}
              {% for obj in acumulado %}
                <tr>
                 <th scope="col">
                 &nbsp;

                  </th>
                  <th scope="col">
                    {{ obj.cuota }}

                  </th>
                  <td scope="col" class="budget">
                      {{ obj.ejemplares_pago }}
                  </td>
                  <td scope="col" class="budget">
                      $ {{ obj.acumulado }}
                  </td>
                <th scope="col">
                 &nbsp;

                  </th>
                 </tr>
                  {% endfor %}

              </tbody>
              </table>




          </div>
        </div>
      </div>
    </div>


        {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
