{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
    {% if not is_popup %}
       <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
    <span class="alert-text"><strong>Alerta!</strong> {% translate 'First, enter a username and password. Then, you’ll be able to edit more user options.' %}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
    {% else %}
        <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
    <span class="alert-text"><strong>Alerta!</strong> {% translate "Enter a username and password." %}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
    {% endif %}
{% endblock %}


