{% load i18n admin_urls %}

<div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-12 card-wrapper">
        <div class="card">
          <div class="card-body">


<div class="submit-row text-center">
{% block submit-row %}
    {% if show_save %}<button type="submit" value="" class="default btn btn-secondary" name="_save">{% translate 'Save' %}</button>{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="deletelink btn btn-danger">{% translate "Delete" %}</a>
{% endif %}
{% if show_save_as_new %}<button type="submit" value="" name="_saveasnew" class="btn btn-secondary">{% translate 'Save as new' %}</button>{% endif %}
{% if show_save_and_add_another %}<button type="submit" value="" name="_addanother" class="btn btn-secondary">{% translate 'Save and add another' %}</button>{% endif %}
{% if show_save_and_continue %}<button type="submit" value="" name="_continue" class="btn btn-secondary">{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}</button>{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% translate 'Close' %}</a>{% endif %}
{% endblock %}
</div>


          </div>
        </div>
      </div>
    </div>
  </div>